body {
  margin: 0;
  padding: 0;
  background: #000000;
}

canvas {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#controllers {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 20px;
    text-align: center;
    width: 100%;
}

.button {
    border: none;
    color: white;
    background-color: red;
    padding: 10px;
    border-radius: 25%;
    margin: 25px;
}